{% extends 'base.html' %}

{% block title %} The last picture show {% endblock title %}
{% block content %}

    <div> 
        <p> Не пропусти, </p> 
        <p> останній кіносеанс </p> 
        <p> тільки для Тебе </p> 
        <h4><a href="{% url 'signup' %}"> Реєстрація через email </a></h4>
    </div>

    <div> 
        <p> Не більше п'яти сеансів! </p> 
        <p> Ми відслідковуємо яка стрічка </p> 
        <p> буде показуватися лише кілька разів </p>
        <p> у твоєму місті! </p> 
        <p> Через 50 років ти розкажешь </p> 
        <p> онукам, яким трєшаком вважався </p>
        <p> культовий фільм </p> 
        <p> Останній кіносеанс - </p> 
        <p> це історія яка завжди з тобою </p> 
    </div>

    <div> 
        <p> Ми не тільки збережемо те, що тобі </p> 
        <p> сподобалося </p> 
        <p> а й покажемо кінотеатр, чи кіноклуб, де </p>
        <p> можна подивитися! </p> 
    </div>

    <div> 
        <p> Останнії кіносеанс, як останній ряд в кінотеатрі. </p> 
        <p> Ти його не забудешь </p>  
    </div\>

    <h4><a href="{% url 'signup' %}"> Реєстрація через email </a></h4>

{% endblock content %}